@import 'modern-normalize/modern-normalize.css';

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  background-color: teal;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

img {
  display: block;
}

a {
  color: silver;
}

button,input {
  display: block;
  padding-top: 10px;
  padding-right: 22px;
  padding-bottom: 10px;
  padding-left: 22px;

  border-radius: 6px;
  margin: 10px;
  background-color: silver;
}

button {
  min-width: 180px;
  margin: 0 auto;
}

input {
  width: 98%;
}

input:hover,
input:focus,
button:hover,
button:focus {
  background-color: whitesmoke;
}
span {
  display: block;
  margin-top: 18px;
  margin-bottom: 6px;
}

form {
  border: 1px solid whitesmoke;
  border-radius: 6px;

  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post_btns {
  display: flex;
}

.post-enter {
  transform: translateX(-90%);
}

.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  transform: translateX(-90%);
  transition: all 500ms ease-in;
}